# numpy==1.21.6
pyLIMA==0.8.3
matplotlib==3.6.2
scipy==1.7.3
pandas==1.5.2
VBBinaryLensing==3.4.0
# aesara-theano-fallback==0.1.0
# alembic==1.8.1
# anyio==3.6.2
# argon2-cffi==21.3.0
# argon2-cffi-bindings==21.2.0
# arviz==0.12.1
# asteval==0.9.28
# astropy==5.1.1
# astroquery==0.4.6
# asttokens==2.1.0
# attrs==22.1.0
# autograd==1.5
# Babel==2.11.0
# backcall==0.2.0
# beautifulsoup4==4.11.1
# bidict==0.22.0
# bleach==5.0.1
# blosc2==2.0.0
# bokeh==2.2.3
# cachetools==5.3.1
# celerite==0.4.2
# certifi==2022.9.24
# cffi==1.15.1
# cftime==1.6.2
# charset-normalizer==2.1.1
# click==8.1.3
# colorama==0.4.6
# colorlog==6.7.0
# configobj==5.0.6
# contourpy==1.0.6
# corner==2.2.1
# cryptography==38.0.3
# cycler==0.11.0
# Cython==0.29.32
# data==0.4
# debugpy==1.6.3
# decorator==5.1.1
# defusedxml==0.7.1
# deprecat==2.1.1
# dill==0.3.7
# dustmaps==1.0.12
# easydev==0.12.0
# # ellc==1.8.7
# emcee==3.1.3
# entrypoints==0.4
# executing==1.2.0
# exoplanet==0.5.3
# exoplanet-core==0.1.2
# fastjsonschema==2.16.2
# fastprogress==1.0.3
# fbpca==1.0
# filelock==3.12.2
# fonttools==4.38.0
# funcsigs==1.0.2
# future==0.18.2
# gatspy==0.3
# google-apputils==0.4.2
# greenlet==2.0.1
# h5py==3.7.0
# # healpy==1.16.6
# html5lib==1.1
# idna==3.4
# importlib-metadata==5.1.0
# ipykernel==6.17.1
# ipython==8.6.0
# ipython-genutils==0.2.0
# ipywidgets==8.0.4
# jaraco.classes==3.2.3
# jedi==0.18.2
# jeepney==0.8.0
# Jinja2==3.0.3
# joblib==1.2.0
# json5==0.9.10
# jsonschema==4.17.1
# jupyter==1.0.0
# jupyter-console==6.4.4
# jupyter-server==1.23.3
# jupyter_client==7.4.7
# jupyter_core==5.0.0
# jupyterlab==3.5.0
# jupyterlab-pygments==0.2.2
# jupyterlab-widgets==3.0.5
# jupyterlab_server==2.16.3
# keyring==23.11.0
# kiwisolver==1.4.4
# latex==0.7.0
# lightkurve==2.3.0
# llvmlite==0.39.1
# lmfit==1.0.3
# loguru==0.6.0
# Mako==1.2.4
# MarkupSafe==2.1.1
# matplotlib==3.6.2
# matplotlib-inline==0.1.6
# mechanize==0.4.8
# memoization==0.4.0
# mistune==2.0.4
# mock==4.0.3
# more-itertools==9.0.0
# msgpack==1.0.5
# nbclassic==0.4.8
# nbclient==0.7.0
# nbconvert==7.2.5
# nbformat==5.7.0
# nest-asyncio==1.5.6
# netCDF4==1.6.4
# notebook==6.5.2
# notebook_shim==0.2.2
# numba==0.56.4
# numexpr==2.8.4
# numpy==1.21.6
# oktopus==0.1.2
# packaging==21.3
# pandas==1.5.2
# pandocfilters==1.5.0
# parso==0.8.3
# patsy==0.5.3
# PeakUtils==1.3.4
# pexpect==4.8.0
# pickleshare==0.7.5
# Pillow==9.3.0
# platformdirs==2.5.4
# progressbar2==4.2.0
# prometheus-client==0.15.0
# prompt-toolkit==3.0.33
# protobuf==4.21.9
# psutil==5.9.4
# ptyprocess==0.7.0
# pure-eval==0.2.2
# py-cpuinfo==9.0.0
# pyarrow==11.0.0
# PyAstronomy==0.18.0
# pybind11==2.10.1
# pycparser==2.21
# pyerfa==2.0.0.1
# Pygments==2.13.0
# pyLIMA==0.8.3
# pymc3==3.11.5
# pyparsing==3.0.9
# pyrsistent==0.19.2
# python-dateutil==2.8.2
# python-gflags==3.1.2
# python-utils==3.8.1
# pytz==2022.6
# pyvo==1.4
# PyYAML==6.0
# pyzmq==24.0.1
# qtconsole==5.4.0
# QtPy==2.3.0
# quantities==0.13.0
# requests==2.28.1
# scikit-learn==1.1.3
# scipy==1.7.3
# seaborn==0.12.2
# SecretStorage==3.3.3
# semver==3.0.1
# Send2Trash==1.8.0
# shutilwhich==1.1.0
# six==1.16.0
# # sklearn==0.0.post1
# sniffio==1.3.0
# soupsieve==2.3.2.post1
# spectrum==0.8.1
# SQLAlchemy==1.4.44
# stack-data==0.6.1
# statsmodels==0.13.5
# tables==3.8.0
# tdpy==1.2
# tempdir==0.7.1
# terminado==0.17.0
# Theano-PyMC==1.1.2
# threadpoolctl==3.1.0
# tinycss2==1.2.1
# tomli==2.0.1
# tornado==6.2
# tqdm==4.64.1
# traitlets==5.5.0
# typing_extensions==4.4.0
# uncertainties==3.1.7
# urllib3==1.26.13
# VBBinaryLensing==3.4.0
# wcwidth==0.2.5
# webencodings==0.5.1
# websocket-client==1.4.2
# widgetsnbextension==4.0.5
# wrapt==1.15.0
# xarray==2023.7.0
# xarray-einstats==0.6.0
# xyzservices==2022.9.0
# zipp==3.10.0
